* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
}
p {
    color: #828282;
    font-weight: 600;
    font-size: 15px;
}
a{
    text-decoration: none;
    color:white;
}
h1, h2,h3,h4,h5,h6 {
    color: #575757;
    font-weight: bold;
}
nav {
    background-image: linear-gradient(orange, tomato); 
    width: 80%;
    margin: 0 auto;
 }
 .nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 80%;
    margin: 0 auto;
   
 }
.brand-logo img {
    width: 100%;
    height: auto; 
}
.brand-logo{
 width: 130px;
 padding-right: 30px;
 padding-top: 20px;
} 

.menu ul{
    display: flex;
    justify-content: center;
    flex-direction:row;
    width: 100%;
}
.menu ul li{
    list-style: none;
    margin-left: 120px;
}
.menu ul li a {
    font-size: 20px;
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    display: inline-block;
    padding: 10px;
}
.menu a:hover {
    background-color: red;
}
.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-direction:row;
  
}
.container-first {
    background: url("../images/Subtract\ \(1\).png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    padding-top: 70px;
}
.half-container img {
    height: 400px;
    width: 80%;
    
}

.half-container {
    width: 50%;
    /* margin-top: 10px; */
    padding-left: 17%; 
   
}
.skip{
    color: red;
}
.btn {
    background-image: linear-gradient(#FBA24F, #FF1E1E);
    padding: 10px 20px;
    color: white;
    border-radius: 30px;
    font-size: 15px;
    font-weight: bold;
}
.content{
    width: 70%;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.container-second {
    background: url("../images/shapes/7.png");
    background-size: cover;
    background-repeat:no-repeat ;
   
}
.paragraph{
    width: 80%;
}

.Recepi-title{
    display: flex;
    justify-content: space-evenly;
}
.recepi img {
    height: 150px;
    width: 220px;
    border-radius: 8px;
}
.recepi{
    width: 280px;
    height: 350px;
    background-color:white ;
    border-radius: 20px;
    box-shadow: 20px 20px 30px gray;
    padding-top: 30px;
}
.recepi p {
    color: #828282;
   padding: 10px;
    font-size: 12px; 
}
.first-footer {
    display: flex;
    justify-content: space-evenly;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
    padding: 20px;
}
.container-fifth {
    background: #F2F2F2;
    padding-top: 30px;
}
input[type=text],[type=email], [type=password]{
    width: 60%;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  
  }
  .email{
      margin-left: 32px;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #02C5F6;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
  }
  footer {
      height: 150px;
      width: 100%;
      background: black;
      padding-top: 50px;
  }
  footer p {
      color: white;
  }



